In [23]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [24]:
train_df = pd.read_csv(Path('Resources/2019loans.csv'))
test_df = pd.read_csv(Path('Resources/2020Q1loans.csv'))

In [25]:
test_df.head(10)

,Unnamed: 0,index,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,67991,67991,40000.0,0.0819,814.70,MORTGAGE,140000.0,Not Verified,low_risk,n,...,97.7,0.0,0.0,0.0,527975.0,70914.0,74600.0,99475.0,N,N
1,25429,25429,6000.0,0.1524,208.70,RENT,55000.0,Not Verified,low_risk,n,...,66.7,0.0,0.0,0.0,34628.0,23460.0,5900.0,23628.0,N,N
2,38496,38496,3600.0,0.1695,128.27,RENT,42000.0,Not Verified,low_risk,n,...,100.0,0.0,0.0,0.0,23100.0,19183.0,7300.0,15000.0,N,N
3,19667,19667,20000.0,0.1524,478.33,RENT,100000.0,Not Verified,low_risk,n,...,100.0,50.0,0.0,0.0,56481.0,43817.0,13800.0,35981.0,N,N
4,37505,37505,3600.0,0.1240,120.27,RENT,50000.0,Not Verified,low_risk,n,...,100.0,25.0,0.0,0.0,45977.0,32448.0,21000.0,24977.0,N,N
5,26517,26517,27000.0,0.0819,549.93,RENT,57000.0,Verified,low_risk,n,...,96.2,14.3,0.0,0.0,125240.0,52062.0,98400.0,11629.0,N,N
6,30063,30063,15000.0,0.0881,310.00,MORTGAGE,50000.0,Not Verified,low_risk,n,...,100.0,0.0,0.0,0.0,192786.0,49901.0,43600.0,43276.0,N,N
7,31659,31659,19000.0,0.0881,602.52,MORTGAGE,70000.0,Not Verified,low_risk,n,...,100.0,33.3,0.0,0.0,782289.0,161240.0,44000.0,105289.0,N,N
8,15003,15003,27575.0,0.1171,912.07,OWN,142000.0,Source Verified,low_risk,n,...,100.0,22.2,1.0,0.0,488561.0,89586.0,89500.0,72659.0,N,N
9,75464,75464,31500.0,0.1774,795.45,MORTGAGE,100000.0,Source Verified,low_risk,n,...,96.2,28.6,0.0,0.0,562627.0,108891.0,27900.0,115627.0,N,N

In [26]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12180 entries, 0 to 12179
Data columns (total 86 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  12180 non-null  int64
 1   index                       12180 non-null  int64
 2   loan_amnt                   12180 non-null  float64
 3   int_rate                    12180 non-null  float64
 4   installment                 12180 non-null  float64
 5   home_ownership              12180 non-null  object
 6   annual_inc                  12180 non-null  float64
 7   verification_status         12180 non-null  object
 8   loan_status                 12180 non-null  object
 9   pymnt_plan                  12180 non-null  object
 10  dti                         12180 non-null  float64
 11  delinq_2yrs                 12180 non-null  float64
 12  inq_last_6mths              12180 non-null  float64
 13  open_acc                    12180 non-null  float64
 14  pub_rec                     12180 non-null  float64
 15  revol_bal                   12180 non-null  float64
 16  total_acc                   12180 non-null  float64
 17  initial_list_status         12180 non-null  object
 18  out_prncp                   12180 non-null  float64
 19  out_prncp_inv               12180 non-null  float64
 20  total_pymnt                 12180 non-null  float64
 21  total_pymnt_inv             12180 non-null  float64
 22  total_rec_prncp             12180 non-null  float64
 23  total_rec_int               12180 non-null  float64
 24  total_rec_late_fee          12180 non-null  float64
 25  recoveries                  12180 non-null  float64
 26  collection_recovery_fee     12180 non-null  float64
 27  last_pymnt_amnt             12180 non-null  float64
 28  collections_12_mths_ex_med  12180 non-null  float64
 29  policy_code                 12180 non-null  float64
 30  application_type            12180 non-null  object
 31  acc_now_delinq              12180 non-null  float64
 32  tot_coll_amt                12180 non-null  float64
 33  tot_cur_bal                 12180 non-null  float64
 34  open_acc_6m                 12180 non-null  float64
 35  open_act_il                 12180 non-null  float64
 36  open_il_12m                 12180 non-null  float64
 37  open_il_24m                 12180 non-null  float64
 38  mths_since_rcnt_il          12180 non-null  float64
 39  total_bal_il                12180 non-null  float64
 40  il_util                     12180 non-null  float64
 41  open_rv_12m                 12180 non-null  float64
 42  open_rv_24m                 12180 non-null  float64
 43  max_bal_bc                  12180 non-null  float64
 44  all_util                    12180 non-null  float64
 45  total_rev_hi_lim            12180 non-null  float64
 46  inq_fi                      12180 non-null  float64
 47  total_cu_tl                 12180 non-null  float64
 48  inq_last_12m                12180 non-null  float64
 49  acc_open_past_24mths        12180 non-null  float64
 50  avg_cur_bal                 12180 non-null  float64
 51  bc_open_to_buy              12180 non-null  float64
 52  bc_util                     12180 non-null  float64
 53  chargeoff_within_12_mths    12180 non-null  float64
 54  delinq_amnt                 12180 non-null  float64
 55  mo_sin_old_il_acct          12180 non-null  float64
 56  mo_sin_old_rev_tl_op        12180 non-null  float64
 57  mo_sin_rcnt_rev_tl_op       12180 non-null  float64
 58  mo_sin_rcnt_tl              12180 non-null  float64
 59  mort_acc                    12180 non-null  float64
 60  mths_since_recent_bc        12180 non-null  float64
 61  mths_since_recent_inq       12180 non-null  float64
 62  num_accts_ever_120_pd       12180 non-null  float64
 63  num_actv_bc_tl              12180 non-null  float64
 64  num_actv_rev_tl             12180 non-null  float64
 65  num_bc_sats                 12180 non-null  float64
 66  num_bc_tl                   12180 non-null  float64
 67  num_il_tl                   12180 non-null  float64
 68  num_op_rev_tl               12180 non-null  float64
 69  num_rev_accts               12180 non-null  float64
 70  num_rev_tl_bal_gt_0         12180 non-null  float64
 71  num_sats                    12180 non-null  float64
 72  num_tl_120dpd_2m            12180 non-null  float64
 73  num_tl_30dpd                12180 non-null  float64
 74  num_tl_90g_dpd_24m          12180 non-null  float64
 75  num_tl_op_past_12m          12180 non-null  float64
 76  pct_tl_nvr_dlq              12180 non-null  float64
 77  percent_bc_gt_75            12180 non-null  float64
 78  pub_rec_bankruptcies        12180 non-null  float64
 79  tax_liens                   12180 non-null  float64
 80  tot_hi_cred_lim             12180 non-null  float64
 81  total_bal_ex_mort           12180 non-null  float64
 82  total_bc_limit              12180 non-null  float64
 83  total_il_high_credit_limit  12180 non-null  float64
 84  hardship_flag               12180 non-null  object
 85  debt_settlement_flag        12180 non-null  object
dtypes: float64(76), int64(2), object(8)
memory usage: 8.0+ MB

In [27]:
# Convert categorical data to numeric and separate target feature for training data
y_train= train_df["loan_status"]
x_train= train_df.drop(columns=["loan_status"])
train_data = pd.get_dummies(train_df)

In [28]:
train_data.head(10)

,Unnamed: 0,index,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,...,loan_status_low_risk,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N,debt_settlement_flag_Y
0,57107,57107,13375.0,0.1797,483.34,223000.0,29.99,0.0,0.0,15.0,...,1,1,0,1,1,0,1,0,1,0
1,141451,141451,21000.0,0.1308,478.68,123000.0,11.26,2.0,0.0,16.0,...,1,1,0,1,1,0,1,0,1,0
2,321143,321143,20000.0,0.1240,448.95,197000.0,11.28,0.0,0.0,12.0,...,1,1,0,1,1,0,1,0,1,0
3,11778,11778,3000.0,0.1240,100.22,45000.0,18.08,0.0,0.0,12.0,...,1,1,0,1,1,0,1,0,1,0
4,169382,169382,30000.0,0.1612,1056.49,133000.0,27.77,0.0,2.0,13.0,...,1,1,0,1,1,0,1,0,1,0
5,31295,31295,6500.0,0.1614,228.98,65000.0,27.49,1.0,0.0,9.0,...,1,1,0,1,1,0,1,0,1,0
6,173238,173238,40000.0,0.1240,897.89,171000.0,20.74,0.0,0.0,9.0,...,1,1,0,1,1,0,1,0,1,0
7,116755,116755,5000.0,0.1719,178.74,55000.0,10.80,1.0,0.0,5.0,...,1,1,0,1,1,0,1,0,1,0
8,170311,170311,6000.0,0.1102,196.49,36000.0,27.28,0.0,0.0,19.0,...,1,1,0,1,1,0,1,0,1,0
9,254794,254794,10625.0,0.1102,347.95,73000.0,7.09,0.0,2.0,18.0,...,1,1,0,1,1,0,1,0,1,0

In [29]:
# Convert categorical data to numeric and separate target feature for testing data
y_test= test_df["loan_status"]
x_test= test_df.drop(columns=["loan_status"])
test_data = pd.get_dummies(test_df)  
test_data.head(10)

,Unnamed: 0,index,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,...,loan_status_high_risk,loan_status_low_risk,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N
0,67991,67991,40000.0,0.0819,814.70,140000.0,19.75,0.0,1.0,18.0,...,0,1,1,0,1,1,0,1,0,1
1,25429,25429,6000.0,0.1524,208.70,55000.0,11.52,2.0,0.0,8.0,...,0,1,1,0,1,1,0,1,0,1
2,38496,38496,3600.0,0.1695,128.27,42000.0,6.74,0.0,0.0,6.0,...,0,1,1,0,1,1,0,1,0,1
3,19667,19667,20000.0,0.1524,478.33,100000.0,12.13,0.0,2.0,7.0,...,0,1,1,0,1,1,0,1,0,1
4,37505,37505,3600.0,0.1240,120.27,50000.0,16.08,0.0,3.0,6.0,...,0,1,1,0,1,1,0,1,0,1
5,26517,26517,27000.0,0.0819,549.93,57000.0,31.41,0.0,0.0,18.0,...,0,1,1,0,1,0,1,1,0,1
6,30063,30063,15000.0,0.0881,310.00,50000.0,24.44,0.0,1.0,9.0,...,0,1,1,0,1,1,0,1,0,1
7,31659,31659,19000.0,0.0881,602.52,70000.0,30.94,0.0,0.0,19.0,...,0,1,1,0,1,0,1,1,0,1
8,15003,15003,27575.0,0.1171,912.07,142000.0,17.90,0.0,0.0,20.0,...,0,1,1,0,1,1,0,1,0,1
9,75464,75464,31500.0,0.1774,795.45,100000.0,25.05,2.0,1.0,17.0,...,0,1,1,0,1,1,0,1,0,1

In [30]:
# add missing dummy variables to testing set
dummies_to_add = set(train_data.columns) - set(test_data.columns)
for column_name in dummies_to_add:
    test_data[column_name] = 0

In [34]:
# Train the Logistic Regression model on the unscaled data and print the model score
x_train = train_data.drop(columns=['loan_status_high_risk', 'loan_status_low_risk'])
y_train = train_data['loan_status_high_risk']
regre =  LogisticRegression(solver='lbfgs', max_iter=10000).fit(x_train,y_train)

In [35]:
x_test = test_data.drop(columns=['loan_status_high_risk', 'loan_status_low_risk'])
y_test = test_data['loan_status_high_risk']

In [37]:
print(regre.score(x_test, y_test))

0.562951935346661

In [39]:
# Train a Random Forest Classifier model and print the model score
clf = RandomForestClassifier(random_state=1).fit(x_train,y_train)
print(f'Training Score: {clf.score(x_train, y_train)}')
print(f'Testing Score: {clf.score(x_test, y_test)}')

Training Score: 1.0
Testing Score: 0.63143343258188

In [40]:
# Scale the data
scaler = StandardScaler().fit(x_train)
x_train_scaled = scaler.transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [43]:
# Train the Logistic Regression model on the scaled data and print the model score
regre =  LogisticRegression(solver='lbfgs', max_iter=10000).fit(x_train_scaled,y_train)
print(f'Training Score: {regre.score(x_train_scaled, y_train)}')
print(f'Testing Score: {regre.score(x_test_scaled, y_test)}')

Training Score: 0.712807881773399
Testing Score: 0.7203317737133135

In [47]:
# Train a Random Forest Classifier model on the scaled data and print the model score
clf = RandomForestClassifier(random_state=1).fit(x_train_scaled,y_train)
print(f'Training Score: {clf.score(x_train_scaled, y_train)}')
print(f'Testing Score: {clf.score(x_test_scaled, y_test)}')

Training Score: 1.0
Testing Score: 0.6337728626116547